body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;
  background-color: #224b6b;
  color: #e0e0e0;
}

label {
  display: block;
  margin-top: 12px;
  font-weight: 600;
  color: #f1f1f1;
}

form {
  padding: 8px 10px;
  width: 260px;
  background-color: #1e1e1e;
  color: #f0f0f0;
  border: 1px solid #444;
  border-radius: 4px;
  margin-top: 5px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

select{
  padding: 8px 10px;
  width: 260px;
  background-color: #1e1e1e;
  color: #fff5f5;
  border: 1px solid #535252;
  border-radius: 4px;
  margin-top: 5px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input {
  padding: 8px 10px;
  width: 260px;
  background-color: #1e1e1e;
  color: #f0f0f0;
  border: 1px solid #444;
  border-radius: 4px;
  margin-top: 5px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
  border-color: #00bcd4;
  box-shadow: 0 0 5px rgba(0, 188, 212, 0.5);
  outline: none;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s, transform 0.2s;
}

button:hover {
  background: linear-gradient(135deg, #0072ff, #00c6ff);
  transform: scale(1.03);
}

table {
  margin-top: 30px;
  border-collapse: collapse;
  width: 100%;
  background-color: #1a1a1a;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
}

th {
  background-color: #0d8494;
  color: #ffffff;
  padding: 12px;
  text-align: center;
  font-weight: bold;
}

td {
  border: 1px solid #333;
  padding: 10px;
  text-align: center;
  color: #e0e0e0;
}

tr:nth-child(even) {
  background-color: #222;
}

tr:hover {
  background-color: #494848;
}
